<!DOCTYPE html>
<html xmls:th=”http://www.thymeleaf.org”>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Editar Cadastro de Alunos</title>
</head>

<!--CORPO DA PÁGINA-->
<body class="background">

    <!--BARRA DE MENU-->
    <header class="w-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">EDIÇÃO DO CADASTRO DE ALUNOS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Lista de Alunos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/alunos/cadastro}">Cadastro de Alunos</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </nav>
    </header>

    <!--CORPO DE CADASTRO-->
    <main>
        <section class="container"><br>
            <div class="row marcador align-items-center">
                <div class="col mx-auto text-center"> 
                    <div class="container content" >
                        <!--FORMULÁRIO DE EDIÇÃO DO CADASTRO-->
                        <div id="cadastro">
		                    <form th:action="@{/alunos/{id} (id=${aluno.id})}" th:object="${aluno}" class="formulario" method="POST">
                                <h1>Editar Aluno</h1>
		                        <p>
		                            <label for="nome">Nome: </label>
		                            <input type="text" id="nome" name="nome" th:field="*{nome}">
                                </p>
                                <p>
                                    <label for="idade">Idade: </label>
                                    <input type="text" id="idade" name="idade" th:field="*{idade}">
                                </p>
                                <p>
                                    <label for="curso">Curso: </label>
                                    <input type="text" id="curso" name="curso" th:field="*{curso}">
                                </p>
                                <p>
                                    <button type="submit" class="btn btn-success">Atualizar</button>
                                </p>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </section><br>
    </main>	

    <!--RODAPÉ-->
    <footer class="esquerda">
        <div class="row jumbotron jumbotron-fluid bg-dark p-4 mb-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                <div class="card bg-light border-0">
                    <div class="card-body text-black text-center">
                        <p class="d-inline lead"><br></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                <div class="card bg-light border-0">
                    <div class="card-body text-center">
                        <p class="d-inline lead">Jaraguá do Sul - SC © 2022<br></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="card bg-light border-0">
                    <div class="card-body text-center">
                        <p class="d-inline lead"><br></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        
    <!-- JAVASCRIPT / JQUERY / POPPER do BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
